name: Package for Release

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  package-unity-2022-3:
    runs-on: ubuntu-latest
    container:
      image: unityci/editor:ubuntu-2022.3.22f1-base-3
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Package
      run: |
        chmod a+x scripts/ci/activate-license.sh
        ./scripts/ci/activate-license.sh
        echo "Activation done. Packaging..."
        python scripts/ExportUnityPackage.py /opt/unity/Editor/Unity -nodisplay
      shell: bash
      env:
        UNITY_LICENSE: ${{ secrets.UNITY_LICENSE_BASE64 }}
    - uses: actions/upload-artifact@v4
      with:
        name: UnityVolumeRendering-2022.3.unitypackage
        path: UnityVolumeRendering.unitypackage
  package-unity-6000-0:
    runs-on: ubuntu-latest
    container:
      image: unityci/editor:ubuntu-6000.0.23f1-base-3
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Package
      run: |
        chmod a+x scripts/ci/activate-license.sh
        ./scripts/ci/activate-license.sh
        echo "Activation done. Packaging..."
        python scripts/ExportUnityPackage.py /opt/unity/Editor/Unity -nodisplay
      shell: bash
      env:
        UNITY_LICENSE: ${{ secrets.UNITY_LICENSE_BASE64 }}
    - uses: actions/upload-artifact@v4
      with:
        name: UnityVolumeRendering-6000.0.unitypackage
        path: UnityVolumeRendering.unitypackage
