name: Package for Unity Asset Store

on:
  release:
    types: [created]
  workflow_dispatch:

jobs:
  package-unity-2022-3:
    runs-on: ubuntu-latest
    container:
      image: unityci/editor:ubuntu-2022.3.22f1-base-3
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Get dependencies
      run: |
        apt update
        apt install -y pandoc texlive-latex-base texlive-fonts-recommended texlive-extra-utils texlive-latex-extra
    - name: Package
      run: |
        chmod a+x scripts/ci/activate-license.sh
        ./scripts/ci/activate-license.sh
        echo "Packaging..."
        python3 scripts/ExportUnityPackage.py /opt/unity/Editor/Unity -assetstore -nodisplay
      shell: bash
      env:
        UNITY_LICENSE: ${{ secrets.UNITY_LICENSE_BASE64 }}
    - uses: actions/upload-artifact@v4
      with:
        name: EasyVolumeRenderer-Unity-2022.3.unitypackage
        path: EasyVolumeRenderer.unitypackage
  package-unity-6000-0:
    runs-on: ubuntu-latest
    container:
      image: unityci/editor:ubuntu-6000.0.23f1-base-3
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true
    - name: Get dependencies
      run: |
        apt update
        apt install -y pandoc texlive-latex-base texlive-fonts-recommended texlive-extra-utils texlive-latex-extra
    - name: Package
      run: |
        chmod a+x scripts/ci/activate-license.sh
        ./scripts/ci/activate-license.sh
        echo "Packaging..."
        python3 scripts/ExportUnityPackage.py /opt/unity/Editor/Unity -assetstore -nodisplay
      shell: bash
      env:
        UNITY_LICENSE: ${{ secrets.UNITY_LICENSE_BASE64 }}
    - uses: actions/upload-artifact@v4
      with:
        name: EasyVolumeRenderer-Unity-6000.0.unitypackage
        path: EasyVolumeRenderer.unitypackage
